.status-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distributes space between elements */
    flex-wrap: wrap; /* Allows items to wrap as needed */
    width: 100%;
    background-color: #333; 
    color: white; 
    padding: 10px 0; 
    padding-left: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 1000; 
}
.status-bar-buttons {
    display: flex;
    align-items: center;
}

.status-bar-buttons button {
    background-color: #355bcd;
    color: white;
    border: none;
    padding: 8px 14px; 
    margin-right: 10px;
    border-radius: 5px;
    font-size: 14px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-bar button i.material-icons {
    margin-right: 5px;
}

.status-bar button:hover {
    background-color: #44abed;
}
.status-bar button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

body {
    background-color: #222222;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: auto 1fr; 
    gap: 20px;
    width: 90%;
    margin-top: 20px; 
    max-height: calc(100vh - 60px); 
    overflow: hidden; 
}
.server-controls {
    animation: fadeInScaleUp 0.5s ease-out forwards;
    margin-top: 30px;
    grid-column: 1;
    background-color: #333333;
    padding: 20px;
    border-radius: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-panel {
    background-color: #333333;
    padding: 20px;
    border-radius: 20px;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.player-panel .title {
    align-self: flex-start; 
    margin-top: 0; 
    text-align: center;
}

.controls {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
}
.server-info {
    flex: none; 
    background-color: #292828;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin-top: 10px;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
}

.player-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 10px;
    align-items: start;
    justify-items: center;
    background-color: #292828;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    height: 200px;
    width: 100%;
    min-width: 100px;
    min-height: 200px;
    overflow-y: auto;
}

.player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    height: auto;
}
@media (min-width: 600px) {
    .player-list {
        grid-template-columns: repeat(3, minmax(100px, 1fr)); 
    }
}

@media (max-width: 599px) {
    .player-list {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}

.player-container:hover {
    background-color: #444;
    cursor: pointer;
}

.player-list .title {
    font-size: 1.2em;
    text-align: center;
    align-self: flex-start;
}

#player-list li {
    padding: 5px 0;
    display: flex;
    align-items: center; 
}
#player-list .material-icons {
    font-size: 20px; 
    margin-left: 8px; 
}
.file-explorer {
    animation: fadeInScaleUp 0.5s ease-out forwards;
    grid-row: 2;
    background-color: #333333;
    padding: 20px;
    border-radius: 20px;
    height: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.console {
    animation: fadeInScaleUp 0.5s ease-out forwards;
    margin-top: 30px;
    grid-row: 1 / span 2;
    grid-column: 2;
    background-color: #333333;
    padding: 20px;
    border-radius: 20px;
    min-height: 640px;
    max-height: 662px; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.console-output {
    background-color: #111; 
    color: #eee; 
    padding: 10px;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    font-size: 0.9em; 
    line-height: 1.2em; 
    text-align: left;

}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
  
.console-output span.warn {
    color: darkorange; 
}
.error {
    color: #ff5252; 
}
.green {
    color: green;
}
.purple {
    color: #e9bfff;
}
.yellow {
    color: #ffc942;
}
.console-input-container {
    display: flex;
    width: 100%;
}

#console-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #555;
    background-color: #222;
    color: #eee;
}

#send-command {
    padding: 10px 20px;
    background-color: #5555ff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#send-command:hover {
    background-color: #7777ff;
}

.title {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

@keyframes fadeInScaleUp {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
.material-icons {
    vertical-align: middle;
    padding-right: 5px; 
}
.server-controls button .material-icons {
    font-size: 20px; 
    color: white;
} 

.server-controls button:hover .material-icons {
    color: #ddd; 
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 100%; 
    overflow: visible;
}

.modal-content {
    background-color: #1a1a1a;
    color: #ddd;
    position: relative;
    padding: 10px 20px;
    width: 80px; 
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer; 
    margin: 5px 0; 
}
.modal-content button {
    background: transparent;
    border: none;
    color: inherit;
    text-align: left;
    width: 100%;
    padding: 8px 0; 
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    color: #ff5252;
}
.modal-content button:active {
    color: green;
}

.starting-modal {
    display: none;
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6); 
}

.starting-modal-content {
    background-color: #1a1a1a;
    color: #ddd;
    padding: 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.5);
    width: 40%;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#modal-gif {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
}

#loading-text::after {
    content: '';
    animation: dots 1.5s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        content: '';
    }
    40% {
        content: '.';
    }
    60% {
        content: '..';
    }
    80%, 100% {
        content: '...';
    }
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.starting-modal.fade-out {
    animation: fadeOut 1s;
    animation-fill-mode: forwards; 
}
.server-status-dot {
    width: 10px;
    order: 3;
    height: 10px;
    margin-right: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.server-status-dot.running {
    background-color: green;
}

.server-status-dot.stopped {
    background-color: #ff5252;
}
.no-players-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 1); 
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
}

.no-players-text {
    color: white;
    font-size: 1.5em;
}
